html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  background-color: #651e1e;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2em; }

h1 {
  font-family: 'Abril Fatface', cursive;
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
  margin: 10px 0 15px 0; }

.footer {
  background-color: #e3dbdb;
  color: #605555;
  padding: 30px; }
  .footer a {
    color: #605555;
    text-decoration: none; }
  .footer a:hover {
    color: #651e1e; }

.header {
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  margin: 0 auto; }
  .header__logo img {
    filter: invert(100%); }
  .header__text-and-menu {
    -ms-flex: 1;
    flex: 1; }
  .header__text {
    padding: 0 0 10px; }
  .header__home {
    padding: 10px 0;
    text-decoration: none;
    color: #ececec;
    display: block;
    font-family: 'Abril Fatface', cursive;
    font-size: 40px; }
  .header__description {
    color: #ececec;
    font-size: 18px; }
  .header__menu-placeholder {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    height: 40px; }
  .header__menu {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    background-color: #651e1e;
    z-index: 999;
    height: 40px; }
    .header__menu--fixed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      background-color: #442b2b; }
    .header__menu a {
      text-decoration: none;
      color: #e7e7e7;
      cursor: pointer;
      display: block;
      width: 100%; }
    .header__menu .menu-item {
      padding: 8px 6px;
      position: relative;
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      background-color: none; }
    .header__menu .menu-item:hover {
      background-color: #605555; }
      .header__menu .menu-item:hover > a {
        color: #e7e7e7; }
      .header__menu .menu-item:hover > ul {
        visibility: visible;
        opacity: 1; }
    .header__menu .current-menu-item, .header__menu .current-menu-ancestor {
      background-color: #e7e7e7;
      box-sizing: border-box; }
      .header__menu .current-menu-item > a, .header__menu .current-menu-ancestor > a {
        color: #651e1e; }
    .header__menu .sub-menu {
      position: absolute;
      background-color: #e3dbdb;
      top: 40px;
      left: 0;
      position: absolute;
      visibility: hidden;
      opacity: 0;
      transition: opacity 400ms ease;
      min-width: 170px;
      padding: 10px; }
      .header__menu .sub-menu a {
        color: #442b2b; }
  .header__fixed-logo {
    display: none; }
    .header__fixed-logo img {
      filter: invert(100%); }

.main-aside-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 20px;
  max-width: 1200px;
  margin: 0 auto; }
  .main-aside-wrapper div {
    box-sizing: border-box; }
  .main-aside-wrapper__main {
    -ms-flex: 1;
    flex: 1;
    background-color: #e7e7e7;
    color: #442b2b;
    padding: 20px; }
    .main-aside-wrapper__main a {
      color: #605555; }
      .main-aside-wrapper__main a:hover {
        color: #651e1e; }
  .main-aside-wrapper__aside {
    -ms-flex: 0 0 200px;
    flex: 0 0 200px;
    background-color: rgba(0, 0, 0, 0.3);
    color: #e7e7e7;
    padding: 20px; }
    .main-aside-wrapper__aside a {
      color: #e3dbdb; }
      .main-aside-wrapper__aside a:hover {
        color: #ececec; }

@media only screen and (max-width: 1024px) {
  .main-aside-wrapper__aside, .main-aside-wrapper__main {
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    box-sizing: border-box; } }

.subpage-tile {
  position: relative;
  margin: 25px 0; }
  .subpage-tile__image img {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
    display: block; }
  .subpage-tile__content {
    padding: 15px;
    position: absolute;
    bottom: 0;
    background-color: rgba(117, 167, 189, 0.54);
    width: 100%; }

.wrapper {
  width: 100%; }
