.footer {
    background-color: $footer-bg;
    color: $footer-txt;
    padding: 30px;
    z-index: 3;

    a {
        color: $footer-a;
        text-decoration: none;
    }

    a:hover {
        color: $footer-a-hover;
    }
}
