$menu-h: 40px;

.header {
    padding: 0 10px;
    display: flex;
    margin: 0 auto;
    max-width: $max-width;
    align-items: center;
    flex-direction: column;

    &__logo {
        display: none;
        padding: 20px 0;
        overflow: hidden;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text-and-desc {
        width: 100%;
    }

    &__text {
        padding: 0 0 10px;
        text-align: left;
    }

    &__home {
        margin: 20px 0;
        text-decoration: none;
        color: $header-text;
        display: block;
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 50px;
        line-height:1.3em;
        letter-spacing: 4px;

    }

    &__description {
        color: $header-desc;
        font-size: 22px;
        margin: 20px 0;
        display: block;
    }

    &__menu-placeholder {
        order:1;

        @media all and (min-width : $sm-breakpoint + 1) {
            width: 92px;
        }
    }

    &__menu {
        display: flex;
        flex-direction: column;

        @media all and (min-width : $sm-breakpoint + 1) {
            width: 92px;
        }

        @media all and (max-width : $sm-breakpoint) {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            background-color: $skin;
            z-index: 1000;
            border-bottom: 1px solid $vd;
        }

        &--fixed {
            position: fixed;
            top: 0;
            z-index: 9;
        }

        a {
            text-decoration: none;
            color: $menu-item-txt;
            cursor: pointer;

            @media all and (max-width : $sm-breakpoint) {
                color: $vd;
            }
        }

        > .menu-item {
            display: block;
            background-color: $menu-item;
            text-align: center;
            position: relative;

            @media all and (max-width : $sm-breakpoint) {
                border: 2px solid $lt;
            }

            > a {
                display: block;

                @media all and (min-width : $sm-breakpoint + 1) {
                    padding: 10px 20px;
                }

                @media all and (max-width : $sm-breakpoint) {
                    padding: 5px;
                }
            }
        }

        @media all and (min-width : $sm-breakpoint + 1) {
            > .menu-item:hover {
                background-color: $menu-item-hover;

                > a {
                    color: $menu-item-hover-txt;
                }

                > ul {
                    visibility: visible;
                    opacity: 1;
                }
            }
        }

        .sub-menu {
            min-width: 100px;

            @media all and (min-width : $sm-breakpoint + 1) {
                z-index: 2;
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(100%, 0);
                visibility: hidden;
                opacity:0;
                transition: opacity 1s ease;
                padding: 10px;
                background-color: $menu-submenu;
            }

            @media all and (max-width : $sm-breakpoint) {
                display: flex;
                flex-wrap: wrap;
                background-color: $mlt;
            }

            a {
                color: $menu-submenu-txt;
            }

            > .menu-item {
                text-align: left;

                > a {
                    padding: 5px 10px;
                    display: block;
                    margin-right: 10px;
                }
            }

            @media all and (min-width : $sm-breakpoint + 1) {
                > .menu-item:hover {
                    background-color: $menu-item-hover;

                    > a {
                        color: $menu-item-hover-txt;
                    }
                }
            }
        }

        @media all and (max-width : $sm-breakpoint) {
            > .current-menu-item {
                background-color: $wine;
                > a {
                    color: $vlt;
                }
            }
            .sub-menu .current-menu-item {
                text-decoration: underline;
            }
        }

        @media all and (min-width : $sm-breakpoint + 1) {
            .current-menu-item, .current-menu-ancestor {
                background-color: $menu-item-active;
                box-sizing: border-box;

                > a {
                    color: $menu-item-active-txt;
                }
            }
        }


    }
}
