$menu-h: 40px;

.header {
    padding: 0 10px;
    display: flex;
    margin: 0 auto;
    max-width: $max-width;
    align-items: center;
    flex-direction: column;

    &__logo {
        display: none;
        padding: 20px 0;
        //display: block;
        overflow: hidden;
        // width: 450px;

        img {
            width: 100%;
            height: 100%;
        }
    }

    &__text-and-desc {
        width: 100%;
    }

    &__text {
        padding: 0 0 10px;
        text-align: left;
    }

    &__home {
        margin: 20px 0;
        text-decoration: none;
        color: $header-text;
        display: block;
        font-family: 'Oswald', Arial, sans-serif;
        font-size: 50px;
        line-height:1.3em;
        letter-spacing: 4px;

    }

    &__description {
        color: $header-desc;
        font-size: 22px;
        margin: 20px 0;
        display: block;
    }

    &__menu-placeholder {
        order:1;
        width: 92px;
    }

    &__menu {
        display: flex;
        flex-direction: column;
        width: 92px;

        @media all and (max-width : $sm-breakpoint) {
            flex-direction: row;
        }

        &--fixed {
            position: fixed;
            top: 0;
            z-index: 9;

            @media all and (max-width : $sm-breakpoint) {
                width: 100%;
                background-color: $wine;
                border-bottom: 1px solid $wine;
                left: 0;
                padding-left: 10px;
                z-index: 10;
            }
        }

        a {
            text-decoration: none;
            color: $menu-item-txt;
            cursor: pointer;
        }

        > .menu-item {
            display: block;
            background-color: $menu-item;
            text-align: center;
            position: relative;

            > a {
                padding: 10px 20px;
                display: block;
            }
        }

        > .menu-item:hover {
            background-color: $menu-item-hover;

            > a {
                color: $menu-item-hover-txt;
            }

            > ul {
                visibility:visible;
                opacity:1;
            }
        }

        .sub-menu {
            z-index: 2;
            position: absolute;
            background-color: $menu-submenu;
            top: 0;
            right: 0;
            transform: translate(100%, 0);
            visibility: hidden;
            opacity:0;
            transition: opacity 1s ease;
            min-width: 100px;
            padding: 10px;

            @media all and (max-width : $sm-breakpoint) {
                top: inherit;
                right: inherit;
                left: 0;
                transform: none;
            }

            a {
                color: $menu-submenu-txt;
            }

            > .menu-item {
                text-align: left;

                > a {
                    padding: 5px 10px;
                    display: block;
                    margin-right: 10px;
                }
            }

            > .menu-item:hover {
                background-color: $menu-item-hover;

                > a {
                    color: $menu-item-hover-txt;
                }
            }
        }

        .current-menu-item, .current-menu-ancestor {
            background-color: $menu-item-active;
            box-sizing: border-box;

            > a {
                color: $menu-item-active-txt;
            }
        }
    }
}
