.main-aside-wrapper {
    display: flex;
    padding: 0 10px;
    max-width: $max-width;
    margin: 0 auto 20px auto;

    div {
        box-sizing: border-box;
    }

    &__main {
        order:2;
        flex: 1;

        &--addcolors {
            background-color: $post-bg;
            color: $post-col;
            padding: 20px;
        }

        a {
            color: $post-a;

            &:hover {
                color: $post-a-hov;
            }
        }

        // .post-edit-link {
            // position: absolute;
            // top: 2%;
            // right: 2%;
        // }
    }

    // &__aside {
    //     order:3;
    //     flex: 0 0 $aside-width;
    //     background-color: $aside-bg;
    //     color: $aside-txt;
    //     padding: 20px;
    //     box-sizing: border-box;
    //
    //     &--fullwidth {
    //         flex: 1 0 100%;
    //     }
    //
    //     a {
    //         color: $aside-url;
    //
    //         &:hover {
    //             color: $aside-url-hover;
    //         }
    //     }
    // }
}

@media all and (max-width : 1024px) {
    // .main-aside-wrapper {
    //     &__aside, &__main {
    //         margin-left: 0;
    //         flex: 1 0 100%;
    //         box-sizing: border-box;
    //     }
    // }
}
