

.menu {

  a {
    text-decoration: none;
    color: $menu-item-txt;
    display: block;
  }

  &__level-0 {
    background-color: $menu-item;
    position: relative;
  }

  .sub-menu {
    min-width: 100px;
    text-align: left;

    a {
      color: $menu-submenu-txt;
      padding: 5px 10px;
    }
  }
}


@media all and (min-width : $sm-breakpoint + 1) {
  .menu {
    display: block !important;
    width: $menu-w;

    &__placeholder {
      width: $menu-w;
    }

    &--fixed {
      position: fixed;
      top: 0;
      z-index: 9;
    }

    &__level-0 {
      text-align: center;

      a {
        padding: 10px 20px;
      }

    }

    .menu-item {

      > .sub-menu {
        opacity: 0;
        transition: all 0.5s ease;
        box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
      }

      &:hover {
        background-color: $menu-item-hover;

        > .sub-menu {
          opacity: 1;
          transition: all 0.7s ease;
          visibility: visible;
        }

        > a {
          color: $menu-item-hover-txt;
        }
      }
    }

    .sub-menu {
      z-index: 2;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(100%, 0);
      visibility: hidden;
      opacity:0;
      padding: 10px;
      background-color: $menu-submenu;

      > .menu-item:hover {
        background-color: $menu-item-hover;

        > a {
          color: $menu-item-hover-txt;
        }
      }

    }

    .current-menu-item, .current-menu-ancestor {
      background-color: $menu-item-active;
      box-sizing: border-box;

      > a {
        color: $menu-item-active-txt;
      }
    }

  }
}


@media all and (max-width : $sm-breakpoint) {
  .menu {
    position: fixed;
    top: $trigger-h;
    left: 0;
    width: 100%;
    background-color: $skin;
    z-index: 1000;
    border-bottom: 2px solid $lt;
    max-height: 80%;
    overflow-y: auto;
    display: none;


    a {
      color: $vd;
    }

    &__level-0 {
      border: 2px solid $lt;
      > a {
        font-weight: bold;
        padding: 10px 10px;
      }

      &.current-menu-item {
        background-color: $wine;
        > a {
          color: $vlt;
        }
      }
    }

    .sub-menu {
      background-color: $mlt;

      a {
        padding: 10px 20px;
      }

      .current-menu-item > a {
        font-weight: bold;
        text-decoration: underline;
      }

      li {
        .sub-menu {
          padding-left: 15px;
        }
      }
    }



  }
}
