.subpage-tile {
    position: relative;
    margin: 25px 0;

    &__image {

        img {
            width: 100%;
            max-height: 500px;
            object-fit: cover;
            display:block;
        }
    }

    &__content {
        padding: 15px;
        position: absolute;
        bottom: 0;
        background-color: hsla(198, 35%, 60%, 0.54);
        width: 100%;
    }
}
