

$menu-icon-size:               6rem;
$menu-icon-dash-width:         0.75em; //em(4.5rem, 6rem)
$menu-icon-dash-height:        0.05em; //em(0.3rem, 6rem)
$menu-icon-dash-gutter:        $menu-icon-dash-height * 5;
$menu-icon-dash-color:         $vd;
$menu-icon-dash-border-radius: 0;
$trigger-h:                    37px;

%menu-dash{
  display: block;
  position: absolute;
  top: 50%;
  left: (1em - $menu-icon-dash-width) / 2; // center X
  background-color: $menu-icon-dash-color;
  width: $menu-icon-dash-width;
  height: $menu-icon-dash-height;
  border-radius: $menu-icon-dash-border-radius;
}

.trigger {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: $lt;
  z-index: 1000;

  @media all and (max-width: $sm-breakpoint) {
    display: flex;
  }

  @media all and (min-width: $sm-breakpoint + 1) {
    display: none;
  }

  &__text-wrapper {
    display: inline-block;
  }

  &__home {
    margin: 4px;
    text-decoration: none;
    color: $vd;
    display: block;
    font-family: 'Oswald', Arial, sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
  }

  &__description {
    margin: 4px;
    color: $vd;
    font-size: 12px;
    display: block;
  }

  &__toolbar {
    flex: 1 1;
    display: flex;
    flex-direction: row-reverse;
  }

  &__search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px;
  }

  &__icon {
    font-size: $trigger-h;
    display: inline-block;
    position: relative;
    background-color: transparent;
    border: 0;
    padding: 0;
    outline: none;
    user-select: none;
    -webkit-touch-callout: none;
    touch-action: manipulation;
    cursor: pointer;
    min-height: 1em;
    min-width: 1em;
    margin: 5px;

    span {
      @extend %menu-dash;
      margin-top: $menu-icon-dash-height/-2;
      transition: 0.2s ease-in-out 0.2s;
    }

    &:before, &:after {
      transition: margin 0.2s ease-in-out 0.2s, transform 0.2s ease-in-out 0s;
    }

    &:before {
      content: "";
      @extend %menu-dash;
      margin-top: -$menu-icon-dash-gutter + ($menu-icon-dash-height/-2);
    }

    &:after {
      content: "";
      @extend %menu-dash;
      margin-top: $menu-icon-dash-gutter + ($menu-icon-dash-height/-2);
    }

    &.is-open {
      span {
        background-color: rgba($menu-icon-dash-color, 0);
        transition-delay: 0s;
      }

      &:before, &:after {
        margin-top: 0;
        transition-delay: 0s, 0.25s, 0.25s;
      }

      &:before {
        transform: rotate(45deg);
      }

      &:after {
        transform: rotate(-45deg);
      }
    }

  }
}