// Colors
$wine: #651e1e;
$vd: #442b2b;
$drk: #6c5959;
$medium: #7c6b6b;
$lt: #cbcbcb;
$vlt: #ececec;
$skin: #e7e7e7;
$transp: rgba(0,0,0,0.3);

$bg: $wine;

$header-text: $vlt;
$header-desc: $vlt;

$menu-bg: $wine;
$menu-bg-fixed: $vd;

$menu-item: none;
$menu-item-txt: $skin;

$menu-submenu: $lt;
$menu-submenu-txt: $vd;

$menu-item-hover: $drk;
$menu-item-hover-txt: $skin;

$menu-item-active: $skin;
$menu-item-active-txt: $wine;

$post-bg: $skin;
$post-col: $vd;
$post-a: $drk;
$post-a-hov: $wine;

$footer-bg: $lt;
$footer-txt: $drk;
$footer-a: $drk;
$footer-a-hover: $wine;

$aside-bg: $transp;
$aside-txt: $skin;
$aside-url: $lt;
$aside-url-hover: $vlt;

// Sizes
$max-width: 1400px;
$aside-width: 200px;
