$wine: #651e1e;
$vdgold: #442b2b;
$dgold: #605555;
$gold: #7c6b6b;
$lgold: #e3dbdb;
$vlgold: #ececec;
$skin: #e7e7e7;

$bg: $wine;

$header-text: $vlgold;
$header-desc: $vlgold;

$menu-bg: $wine;
$menu-bg-fixed: $vdgold;

$menu-item: none;
$menu-item-txt: white;

$menu-submenu: $lgold;
$menu-submenu-txt: $vdgold;

$menu-item-hover: $dgold;
$menu-item-hover-txt: white;

$menu-item-active: $skin;
$menu-item-active-txt: $wine;



$post-bg: $skin;
$post-col: $vdgold;
$post-a: $dgold;
$post-a-hov: $wine;

$footer-bg: $lgold;
$footer-txt: $dgold;
$footer-a: $dgold;
$footer-a-hover: $wine;
