// Colors
$wine: #746e6e;
$vd: #282828;
$drk: #464646;
$lt: #cbcbcb;
$vlt: #ececec;
$skin: #ffffff;
$transp: rgba(0,0,0,0.3);
$shadow: #888888;

$bg: $wine;

$header-text: $vlt;
$header-desc: $vlt;

$menu-bg: $wine;
$menu-bg-fixed: $vd;

$menu-item: none;
$menu-item-txt: $skin;

$menu-submenu: $lt;
$menu-submenu-txt: $vd;

$menu-item-hover: $drk;
$menu-item-hover-txt: $skin;

$menu-item-active: $skin;
$menu-item-active-txt: $wine;

$post-bg: $skin;
$post-col: $vd;
$post-a: $drk;
$post-a-hov: $wine;

$footer-bg: $lt;
$footer-txt: $drk;
$footer-a: $drk;
$footer-a-hover: $wine;

$aside-bg: $transp;
$aside-txt: $skin;
$aside-url: $lt;
$aside-url-hover: $vlt;

// Sizes
$max-width: 1024px;
$aside-width: 200px;

$lg-breakpoint: 1024px;
$sm-breakpoint: 768px;
$xs-breakpoint: 480px;
