.vidarch {

    &__archive-title {
        text-align: center;
        margin: 15px 0 35px 0;
        line-height: 1em;
    }

    &__post {
        margin-bottom: 50px;
    }

    &__post::nth-child(2) {
        order:-1;
        background-color: pink;
    }

    &__vid-wrapper {
        display: flex;
        align-content: flex-start;
    }

    &__thumbnail-wrap {
        flex: 0 1 55%;
    }

    &__thumbnail-figure {
        position: relative;
    }

    &__play-icon {
        background: url(./img/play.png) no-repeat center center;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        pointer-events:none;
    }

    &__title-and-text-wrap {
        flex: 1 0 45%;
        padding: 0 0 0 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__description {
        display: block;
        line-height: 1.3em;
        letter-spacing: 0.5px;
        text-align: justify;
    }

    &__title a {
        margin: inherit;
        line-height: inherit;
        margin-bottom: 20px;
        letter-spacing: 1px;
        text-decoration: none;
    }


    &__meta {
        @extend .post-view__meta;
        margin-top: 10px;
    }

    &__thumbnail {
        width: 100%;
        filter: blur(3px) brightness(50%);
        transition: all 0.5s ease-in-out;
        cursor: pointer;

        &:hover {
            filter: blur(0px) brightness(100%);
        }
    }
}
