body {
    font-family: sans-serif;
    background-color: $bg;
    font-family: 'Raleway', sans-serif;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 30px;
    font-weight: normal;
    letter-spacing: 1px;
    margin: 10px 0 15px 0;
}
