.main-aside-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding: 0 20px;
    max-width: 1000px;
    margin: 0 auto;

    div {
        box-sizing: border-box;
    }

    &__main {
        flex: 1 1 100%;
        background-color: $post-bg;
        color: $post-col;
        padding: 20px;


        .post-edit-link {
            // position: absolute;
            // top: 2%;
            // right: 2%;
        }
    }

    &__sidebar {
        flex: 1  100%;
        background-color: pink;
    }

    a {
        color: $post-a;

        &:hover {
            color: $post-a-hov;
        }
    }

}
