$menu-h: 40px;

.header {
    display: flex;

    &__logo {

    }

    &__text-and-menu {
        flex: 1;
    }

    &__text {
        padding: 0 0 10px;
    }

    &__home {
        padding: 10px 0;
        text-decoration: none;
        color: black;
        display: block;
    }

    &__description {
        color: grey;
        font-size: 10px;
    }

    &__menu-placeholder {
        flex-basis: 100%;
        height: $menu-h;
        color: #d6937a
    }

    &__menu {
        flex-basis: 100%;
        display: flex;
        justify-content: flex-start;
        background-color: rgb(90, 98, 200);
        z-index: 999;
        height: $menu-h;

        &--fixed {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
        }

        a {
            text-decoration: none;
            color: white;
            cursor: pointer;
        }

        .menu-item {
            padding: 8px 4px;
            position: relative;
            display: flex;
            align-items: center;
        }

        .menu-item:hover {
            background-color: pink;
            > ul {
                visibility:visible;
                opacity:1;
            }
        }

        .current-menu-item {
            background-color: hsla(0, 0%, 100%, 0.67);
            box-sizing: border-box;
        }

        .current-menu-ancestor {
            background-color: hsla(0, 0%, 100%, 0.67);
        }

        .sub-menu {
            position: absolute;
            background-color: grey;
            top: $menu-h;
            left: 0;
            position:absolute;
            visibility:hidden;
            opacity:0;
            transition:400ms ease;
            min-width: 100px;
        }
    }

    &__fixed-logo {
        display: none;
    }

}
body {

}
footer {

}
